    header {
      background-color:#000;
      color: #fff;
      font-size: 20px;
      line-height: 50px;

	  width: 100%;
	  top: 0;
	  height: 60px;
	  position: absolute;
	  left:0;
    }
	
	  .hamburger {
    padding: 15px;
    display: block;
  }

  .line {
    border-bottom: 4px solid #bbb;
    width: 35px;
    margin-bottom: 6px;
  }
  
  .line:last-child {
    margin-bottom: 0;
  }

  nav li {
    width: 100%;
  }
  
  .menu {
    height: 0;
    overflow: hidden;
    transition: height 0.3s linear;
  }
  
  .slide-down {
    height: 262px;
  }
	
/* preloader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #D6751E;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
	
	.title-header {
		margin-left: 100px;
	}
	
	html, body {
    height:100%;
    width:100%;
}

p {
	text-align: center;
	font-size: 20px;
	color: #000;
}

#text1 {
	color: #fff;
	font-size: 30px;
	text-align: center;
}

a:link {
    text-decoration: none;
}


		.Container1 {
	width: 90%;
	height:300px;
	background-color: #000;
	margin-top: 50px;
	  position: absolute;
	  margin-left:5%;
	  left:0;
	  border: 5px solid red;
}

		.Container2 {
	width: 90%;
	height:300px;
	background-color: #000;
	margin-top: 370px;
	  position: absolute;
	  margin-left:5%;
	  left:0;
	  border: 5px solid red;
}

		.Container3 {
	width: 90%;
	height:300px;
	background-color: #000;
	margin-top: 690px;
	  position: absolute;
	  margin-left:5%;
	  left:0;
	  border: 5px solid red;
}

		.Container4 {
	width: 90%;
	height:300px;
	background-color: #000;
	margin-top: 1010px;
	  position: absolute;
	  margin-left:5%;
	  left:0;
	  border: 5px solid red;
}

		.Container5 {
	width: 90%;
	height:300px;
	background-color: #000;
	margin-top: 1340px;
	  position: absolute;
	  margin-left:5%;
	  left:0;
	  border: 5px solid red;
}



.Container1 img {
   width: 100%;
   height: 230px;
}

.Container2 img {
   width: 100%;
   height: 230px;
}

.Container3 img {
   width: 100%;
   height: 230px;
}

.Container4 img {
   width: 100%;
   height: 230px;
}

.Container5 img {
   width: 100%;
   height: 230px;
}

h1 {
	margin-top: 80px;
	text-align: center;

}

h2 {
	text-align: center;

}

.newquay {
	width: 100%;
	height: 300px;
}

.newquay img {
	width: 100%;
	height: 300px;
}

#newquay-text {
	font-size: 24px;
	margin-left: 5%;
	width: 90%;
}

#newquay-text1 {
	font-size: 24px;
	text-align: center;
}

#map {
        height: 400px;
        width: 100%;
       }
	   
	   #form1 {
		   text-align: center;
		   margin-top: 10px;
	   }
	   
	   	   #Name {
		   border: 2px solid black;
		   width: 60%;
		   height:25px;
	   }
	   
	   #Email {
		   border: 2px solid black;
		   width: 60%;
		   height: 25px;
	   }
	   
	   	   #Comments {
		   border: 2px solid black;
		   width: 60%;
	   }
	   
	   button {
		   background-color: #000;
		   color: #fff;
		   height: 40px;
		   width: 100px;
	   }
	   

}
	
	@media only screen and (min-width: 320px) and (max-width: 767px) {

		#text1 {
	color: #fff;
	text-decoration: none;
	font-size: 30px;
	text-align: center;
}


		.Container1 {
	width: 90%;
	height:300px;
	background-color: #000;
	margin-top: 50px;
	  position: absolute;
	  margin-left:5%;
	  left:0;
	  border: 5px solid red;
}

		.Container2 {
	width: 90%;
	height:300px;
	background-color: #000;
	margin-top: 370px;
	  position: absolute;
	  margin-left:5%;
	  left:0;
	  border: 5px solid red;
}

		.Container3 {
	width: 90%;
	height:300px;
	background-color: #000;
	margin-top: 690px;
	  position: absolute;
	  margin-left:5%;
	  left:0;
	  border: 5px solid red;
}

		.Container4 {
	width: 90%;
	height:300px;
	background-color: #000;
	margin-top: 1010px;
	  position: absolute;
	  margin-left:5%;
	  left:0;
	  border: 5px solid red;
}

		.Container5 {
	width: 90%;
	height:300px;
	background-color: #000;
	margin-top: 1340px;
	  position: absolute;
	  margin-left:5%;
	  left:0;
	  border: 5px solid red;
}



.Container1 img {
   width: 100%;
   height: 230px;
}

.Container2 img {
   width: 100%;
   height: 230px;
}

.Container3 img {
   width: 100%;
   height: 230px;
}

.Container4 img {
   width: 100%;
   height: 230px;
}

.Container5 img {
   width: 100%;
   height: 230px;
}

h1 {
	margin-top: 80px;
	text-align: center;

}

h2 {
	text-align: center;

}

.newquay {
	width: 100%;
	height: 200px;
}

	#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #D6751E;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
	}
	
	#map {
        height: 400px;
        width: 100%;
       }
	}

		
		
		
		@media only screen and (min-width: 768px) and (max-width: 1020px) {
	}
	
			header {
			width: 100%;
		}
		
}