    header {
      background-color:#000;
      color: #fff;
      font-size: 20px;
      line-height: 50px;
      padding: 0 0 0 88px;
	  width: 100%;
	  top: 0;
	  height: 60px;
	  position: absolute;
	  left:0;
    }
	
	html, body {
    height:100%;
    width:100%;
}
	
	.box1 {
		width: 100%;
		background-color: #000;
		height: 30%;
		margin-top: 90px;
		left: 0;
	}
	}
	
	@media only screen and (min-width: 320px) and (max-width: 767px) {
		
		header {
			width: 100%;
		}