body {
	overflow-x:hidden;
    margin:0;
    padding:0;
}
	
	#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
	
	header {
      background-color:#000;
      color: #fff;
      font-size: 20px;
      line-height: 50px;

	  width: 100%;
	  top: 0;
	  height: 60px;
	  position: absolute;
	  left:0;
	  z-index: 1;
	}
	  
	 .header {

    position: fixed;
    width: 100%;
    
    }
  
  .menu {
    height: 0;
    overflow: hidden;
    transition: height 0.3s linear;
  }
	
	.title-header {
		margin-left: 100px;
	}
	
	html, body {
    height:100%;
    width:100%;
}

p {
	text-align: center;
	font-size: 20px;
	color: #000;
}

#text1 {
	color: #fff;
	font-size: 30px;
	text-align: center;
}

a:link {
    text-decoration: none;
}


		.Container1 {
	width: 90%;
	height:300px;
	background-color: #000;
	margin-top: 50px;
	  position: absolute;
	  margin-left:5%;
	  left:0;
	  border: 5px solid red;
}

		.Container2 {
	width: 90%;
	height:300px;
	background-color: #000;
	margin-top: 370px;
	  position: absolute;
	  margin-left:5%;
	  left:0;
	  border: 5px solid red;
}

		.Container3 {
	width: 90%;
	height:300px;
	background-color: #000;
	margin-top: 690px;
	  position: absolute;
	  margin-left:5%;
	  left:0;
	  border: 5px solid red;
}

		.Container4 {
	width: 90%;
	height:300px;
	background-color: #000;
	margin-top: 1010px;
	  position: absolute;
	  margin-left:5%;
	  left:0;
	  border: 5px solid red;
}

		.Container5 {
	width: 90%;
	height:300px;
	background-color: #000;
	margin-top: 1340px;
	  position: absolute;
	  margin-left:5%;
	  left:0;
	  border: 5px solid red;
}



.Container1 img {
   width: 100%;
   height: 230px;
}

.Container2 img {
   width: 100%;
   height: 230px;
}

.Container3 img {
   width: 100%;
   height: 230px;
}

.Container4 img {
   width: 100%;
   height: 230px;
}

.Container5 img {
   width: 100%;
   height: 230px;
}

h1 {
	margin-top: 80px;
	text-align: center;

}

h2 {
	text-align: center;

}

.newquay {
	width: 100%;
	height: 300px;
}

.newquay img {
	width: 100%;
	height: 300px;
}

#newquay-text {
	font-size: 24px;
	margin-left: 5%;
	width: 90%;
}

#newquay-text1 {
	font-size: 24px;
	text-align: center;
}

#map {
        height: 400px;
        width: 100%;
       }
	   
	   #form1 {
		   text-align: center;
		   margin-top: 10px;
	   }
	   
	   	   #Name {
		   border: 2px solid black;
		   width: 60%;
		   height:25px;
	   }
	   
	   #Email {
		   border: 2px solid black;
		   width: 60%;
		   height: 25px;
	   }
	   
	   	   #Comments {
		   border: 2px solid black;
		   width: 60%;
	   }
	   
	   button {
		   background-color: #000;
		   color: #fff;
		   height: 40px;
		   width: 100px;
	   }
	   
#buttons:hover {
    background-color: blue;
}

.header-button{
  display:inline-block;
  margin:10px;
  float: left;
  background:#FFF;
  padding:.1em .5em;
  color:#000;
  text-decoration:none;

  font-size:36px;
  width:20px;
  margin-top: -48px;
  margin-left: 0px;
}

#hamburger-menu nav{
 
  min-height:50%;
  transform:translateX(-100%);
  -webkit-transition:-webkit-transform 200ms ease-out;
  transition:transform 200ms ease-out;
  
}


#hamburger-menu{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  visibility:hidden;
  opacity:0;
  background:rgba(0,0,0,.5);
  padding-left:0%;
  height: 200px;
  width: 300px;
  
  -webkit-transition:all 200ms linear;
  transition:all 200ms linear;
}
.burger-open #hamburger-menu{
  visibility:visible;
  opacity:1;
}
.burger-open #hamburger-menu nav{
  transform:translateX(0);
}

nav li
{
	font:24px Arial;
	
	list-style-type: none;
	padding: 25px;
}

nav a
{
	padding: 15px 15px;

	color:rgb(255,255,255);
	text-decoration:none;
}

nav a:hover
{
	text-decoration:underline;
}

nav
{
	text-align:center;
	background-color: #000;
	margin-left: 0;

}



	   

}
	
	@media only screen and (min-width: 320px) and (max-width: 767px) {

		#text1 {
	color: #fff;
	text-decoration: none;
	font-size: 30px;
	text-align: center;
}


		.Container1 {
	width: 90%;
	height:300px;
	background-color: #000;
	margin-top: 50px;
	  position: absolute;
	  margin-left:5%;
	  left:0;
	  border: 5px solid red;
}

		.Container2 {
	width: 90%;
	height:300px;
	background-color: #000;
	margin-top: 370px;
	  position: absolute;
	  margin-left:5%;
	  left:0;
	  border: 5px solid red;
}

		.Container3 {
	width: 90%;
	height:300px;
	background-color: #000;
	margin-top: 690px;
	  position: absolute;
	  margin-left:5%;
	  left:0;
	  border: 5px solid red;
}

		.Container4 {
	width: 90%;
	height:300px;
	background-color: #000;
	margin-top: 1010px;
	  position: absolute;
	  margin-left:5%;
	  left:0;
	  border: 5px solid red;
}

		.Container5 {
	width: 90%;
	height:300px;
	background-color: #000;
	margin-top: 1340px;
	  position: absolute;
	  margin-left:5%;
	  left:0;
	  border: 5px solid red;
}



.Container1 img {
   width: 100%;
   height: 230px;
}

.Container2 img {
   width: 100%;
   height: 230px;
}

.Container3 img {
   width: 100%;
   height: 230px;
}

.Container4 img {
   width: 100%;
   height: 230px;
}

.Container5 img {
   width: 100%;
   height: 230px;
}

h1 {
	margin-top: 80px;
	text-align: center;

}

h2 {
	text-align: center;

}
	
	#map {
        height: 400px;
        width: 100%;
       }
	   
	}

		
		
		
		@media only screen and (min-width: 768px) and (max-width: 1020px) {
	}
	
			header {
			width: 100%;
		}
		
}